:root {
  --bg-default: #e8e8e8;
  --transition-default-duration: 160ms;
  --transition-default-ease: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-default-duration-with-ease: var(--transition-default-duration) var(--transition-default-ease);
}
